{% extends "template.html" %} {% block title %}BMAIL - home{% endblock title%}
{% block page_content %}
<h2 id="top_username">Hello User</h2>
<div class="container">
  <a id="new_message_button" href="/new_message"
    ><button type="button" class="btn btn-dark">Nova poruka +</button></a
  >
  <div class="row">
    <div id="e-mail_navbar" class="col-sm-3">
      <ul>
        <li>Primljene poruke</li>
        <li>Poslane poruke</li>
        <li>Arhiva</li>
        <li>Otpad</li>
      </ul>
    </div>
    <div id="e-mail_list" class="col-sm-9">
      <ul>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
        <li class="list_of_mails">Prva</li>
        <li class="list_of_mails">Druga</li>
        <li class="list_of_mails">Treća</li>
        <li class="list_of_mails">Četvrta</li>
      </ul>
    </div>
  </div>
</div>

{% endblock page_content %}
