{% extends "template.html" %} {% block title %}Index page{% endblock title%} {%
block page_content %}
<div class="landing">
  
  {% if user %}

  
  <div class="dropdown" id="user_menu">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.nickname()}}
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/{{user.nickname()}}/home">Home</a>
      <a class="dropdown-item" href="/{{user.nickname()}}">About user</a>
      <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
    </div>
  </div>
  <div id="login_landing">
  <h1 id="landing">BMAIL</h1>
  <img src="../assets/img/entry.png" alt="entry" />
  <h2>Welcome {{user.nickname()}}!</h2>
  <h3>Click on door or check dropdown menu!</h3>
</div>
</div>
  {% else %}
  <h1 id="landing">BMAIL</h1>
  <img src="../assets/img/postman.png" alt="postman" /> 
  <h2>Best e-mail service i the world!</h2>
  <a class="landing_link" href="{{ login_url }}"
    ><button type="button" class="btn btn-success btn-lg">Login</button></a
  >
  {% endif %}
</div>
{% endblock page_content %}
