{% extends "template.html" %}

{% block title %}User administration{% endblock title %}

{% block page_content %}
    <h1>Users <a class="btn btn-primary" href="/list/create" role="button">Create new</a></h1>
    <p>An existing list of users of the TaskCreator app</p>
    <table class="table table-bordered">
         <thead>
            <tr>
                <th scope="col">Id </th>
                <th scope="col">First name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody>
    {% if userList %}
            {% for user in userList %}
                 <tr>
                     <td>{{ user.key.id() }} </td>
                     <td>{{ user.first_name }} </td>
                 <td>{{ user.email }}</td>
                 <td>{{ user.age }}</td>
                     <td> <a class="btn btn-primary" href="/user/{{user.email}}" role="button">See details</a>
                     <a class="btn btn-danger" href="/users" role="button">Delete</a>
                 </td>
                     </tr>
            {% endfor %}
    {% endif %}
         </tbody>
    </table>
{% endblock page_content %}