<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/todo2.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab|Spicy+Rice" rel="stylesheet">
</head>

<body>
    <h1>TODO LIST</h1>
    <form action="POST">
        <label for="task">New task: </label>
        <input type="text">
        <button type="submit">Add task</button>
    </form>
    <div class="lists">
        <div>
            <h2>Tasks:</h2>
            <ul>
                <li>
                    <form class="task-form">
                        <p>{{Tasks}}</p>
                        <button>DELETE</button>
                    </form>
                </li>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
            </script>
        <script src="../assets/js/todo2.js"></script>
</body>

</html>