{% extends "template.html" %} {% block title %}List of tasks{% endblock title %}
{% block page_content %}
<h1>
  Tasks
  <a class="btn btn-primary" href="/item/create" role="button">Create new</a>
</h1>
<p>An existing Tasks of the TaskCreator app</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Task</th>
      <th scope="col">Main project</th>
      <th scope="col">Completed</th>
      <th scope="col">User</th>
      <th scope="col">Due date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if itemList %} {% for item in itemList %}
    <tr>
      <td>{{ item.key.id() }}</td>
      <td>{{ item.task }}</td>
      <td>{{ item.main_project }}</td>
      {% if item.completed == False %}
      <td>Not completed</td>
      {% else %}
      <td>Completed</td>
      {% endif %}
      <td>{{ item.assigne.first_name }}</td>
      <td>{{ item.task_due_date }}</td>
      <td>
        <a class="btn btn-primary" href="/item/{{item.key.id()}}" role="button"
          >See details</a
        >
        <a class="btn btn-danger" href="/items" role="button">Delete</a>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
{% endblock page_content %}
