{% extends "template.html" %} {% block title %}Task review{% endblock title %}
{% block page_content %}
<h1>Task {{ item.task }}</h1>
<a class="btn btn-primary" href="/item" role="button">Go to task</a>
<a class="btn btn-primary" href="/item/edit/{{item.key.id()}}" role="button"
  >Edit task</a
>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Due date</th>
      <th scope="col">User</th>
      <th scope="col">Project</th>
    </tr>
  </thead>
  <tbody>
    {% if item %}
    <tr>
      <td>{{ item.task }}</td>
      <td>{{ item.completed }}</td>
      <td>{{ item.task_due_date }}</td>
      <td>{{ item.assigne.first_name }}</td>
      <td>{{ item.project }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock page_content %}
