<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <h1>Welcome to calculator</h1>
    <form method="POST">
        <label for="first_number">Write two numbers: </label>
        <input name="first_number" type="text">
        <label for="second_number">Write two numbers: </label>
        <input name="second_number" type="text">
        <label for="operator">Write operator: </label>
        <input name="operator" type="text">
        <button type="submit">Calculate</button>
    </form>
    <h2>Result is : {{full_result}}</h2>
</body>
</html>