{% extends "template.html" %} {% block title %}Popis troškova{% endblock title
%} {% block page_content %}
{% for category in category %}
<h1>Kategorija {{ category.name }}</h1>
<p>Vaši troškovi u kategoriji {{ category.name }} su:</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Kategorija troškova</th>
      <th scope="col">Ukupna potrošnja po kategoriji</th>
      <th scope="col">Opcije</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.total }}</td>
      <td>
        <a class="btn btn-primary" href="/kategorija/{{ category.name }}/novi_unos" role="button"
          >Unesi novi trošak</a
        >
      </td>
    </tr>

  </tbody>
</table >
<table class="table table-bordered">
  <thead>
 <tr>
    <th scope="col">Artikli ili usluge</th>
    <th scope="col">Iznos</th>
    <th scope="col">Datum</th>
    <th scope="col">Mjesto trošenja</th>
  </tr>
  <tbody>
  <tr>
    <td>{{ category.outcome.outcome }}</td>
    <td>{{ category.outcome.amount }}</td>
    <td>{{ category.outcome.time }}</td>
    <td>{{ category.outcome.place }}</td>
  </tr>
  </tbody>
  </thead>
</table>
{% endfor %}
{% endblock page_content %}
