{% extends "template.html" %} {% block title %}Task review{% endblock title %}
{% block page_content %}
<h1>Task {{ task.task }}</h1>
<a class="btn btn-primary" href="/tasks" role="button">Back to list of tasks</a>
<a class="btn btn-primary" href="/task/edit/{{task.key.id()}}" role="button"
  >Edit task</a
>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Due date</th>
      <th scope="col">User</th>
      <th scope="col">Project</th>
    </tr>
  </thead>
  <tbody>
    {% if task %}
    <tr>
      <td>{{ task.task }}</td>
      <td>{{ task.completed }}</td>
      <td>{{ task.task_due_date }}</td>
      <td>{{ task.assigne.first_name }}</td>
      <td>{{ task.project }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock page_content %}
