{% extends "template.html" %} {% block title %}Create task{% endblock title %}
{% block page_content %}
<h1>Create new Task</h1>
<form method="post" action="/task/create">
  <div class="form-group">
    <label for="project">Task</label>
    <input
      type="text"
      class="form-control"
      name="task"
      id="task"
      placeholder="Enter task..."
    />
  </div>
  <div class="form-group">
    <label for="user">User</label>
    <input
      type="text"
      class="form-control"
      name="user"
      id="user"
      placeholder="User..."
    />
  </div>
  <div class="form-group">
    <label for="task_due_date">Due date</label>
    <input
      type="date"
      class="form-control"
      name="task_due_date"
      id="task_due_date"
    />
  </div>
  <div class="form-group">
    <label for="task_goal">Task</label>
    <input
      type="text"
      class="form-control"
      name="task_goal"
      id="task_goal"
      placeholder="Task goal..."
    />
  </div>
  <div class="form-group">
    <label for="project">Main project</label>
    <input
      type="text"
      class="form-control"
      name="project"
      id="project"
      placeholder="Project..."
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock page_content %}
