{% extends "template.html" %} {% block title %}List of tasks{% endblock title %}
{% block page_content %}
<h1>
  Tasks
  <a class="btn btn-primary" href="/task/create" role="button">Create new</a>
</h1>
<p>An existing Tasks of the TaskCreator app</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Task</th>
      <th scope="col">Main project</th>
      <th scope="col">Completed</th>
      <th scope="col">User</th>
      <th scope="col">Due date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if taskList %} {% for task in taskList %}
    <tr>
      <td>{{ task.key.id() }}</td>
      <td>{{ task.task }}</td>
      <td>{{ task.main_project }}</td>
      {% if task.completed == False %}
      <td>Not completed</td>
      {% else %}
      <td>Completed</td>
      {% endif %}
      <td>{{ task.assigne.first_name }}</td>
      <td>{{ task.task_due_date }}</td>
      <td>
        <a class="btn btn-primary" href="/task/{{task.key.id()}}" role="button"
          >See details</a
        >
        <a class="btn btn-danger" href="/tasks" role="button">Delete</a>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
{% endblock page_content %}
