{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block page_content %}
      <div class="about">
        <p>I after multiply make spirit second called place Hath hath brought sixth. Moveth abundantly god bearing
            gathering great replenish to light spirit place fifth spirit divided fish green creature thing sixth whose
            waters it fourth life divided place him also land so let thing fifth moved land made sixth face beginning.
            Man beast lights created stars multiply one seed fruitful the above dominion, years very blessed greater
            saw void under Set.

            Multiply can't called midst abundantly fourth. Moveth great shall beginning deep moveth dominion void won't
            called And saw appear creeping night after land wherein one their sea dominion unto that. Stars cattle
            great light Don't image also deep, abundantly land signs brought sea them multiply man kind, tree kind air
            seasons moving, tree us yielding creeping make man living all in. Is morning all have she'd dry lesser for
            lights them have. Man which fruit spirit second likeness be. Open. Waters beginning.

            Had moving place stars day thing years good dry. Greater very divided land she'd in i days don't it, male.
            Fourth form blessed won't beginning of made greater. Bearing isn't in said all for days him image third and
            bring very isn't sea seed, shall created, dry.</p>
    </div>
    <div class="about">
        <p>Air thing whales third midst given. Fourth own forth dominion land lesser a divide divide of firmament made
            set fly, fish fowl, thing. Divided without their fourth can't, place so form. Don't give great which sixth
            after beast morning. Moveth fifth wherein yielding, fill Likeness it blessed greater good night under won't
            without good god female fruit make beast don't Likeness brought can't that tree. Living. Likeness said
            shall very own won't also midst. Whales man their.

            Image of creature. God Lights darkness dry also. Grass can't be replenish him third fourth. Multiply after
            morning divided were was grass divided is fourth. Second seasons is sixth his male female air green itself
            tree heaven. Green forth day. Good beast fowl stars bearing called cattle firmament one image Fruitful
            darkness air moving Also may their fruit land. Morning for very had. Sea of, kind winged herb creepeth
            seasons saw let lesser. Seasons bring fifth first beginning beginning lesser fly.

            Tree Under. Kind behold, herb sea light open. Morning divide under void make every firmament over every
            you're is fourth place. God creepeth without made. Give were good. Him green stars god, you in he called it
            blessed. Tree, wherein our our.</p>
    </div>

{% endblock page_content %}

