body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header h1, .header h2 {
    color: lavender;
    margin: 2vh;
}

button {
    background-color: darkgoldenrod;
    width: 20vh;
    border-radius: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.group {
    margin: 0 10vh;
    display: flex;
    flex-direction: row;

}

.double {
    display: flex;
    flex-direction: column;
}

.double img {
    height: 50%;
    width: 50%;
    margin: 2vh;
}

.modal {
    overflow: hidden;
}

.modal p {
    font-family: 'Gamja Flower', cursive;
}

.modal .larger{
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #a6a6a6;

}

.footer p {
    font-family: 'Times New Roman', Times, serif;
}
