{% extends "template.html" %}

{% block title %}Project review{% endblock title %}

{% block page_content %}
    <h1>Project {{list.project}}</h1>
    <a class="btn btn-primary" href="/lists" role="button">Go to list</a>
    <a class="btn btn-primary" href="/list/edit/{{list.project}}" role="button">Edit project</a>
    <table class="table table-borderless">
         <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Main goal</th>
                <th scope="col">Due date</th>
            </tr>
         </thead>
         <tbody>
         {% if list %}
             <tr>
                 <td>{{ list.project }} </td>
                 <td>{{ list.project_goal }}</td>
                 <td>{{ list.due_date }}</td>
             </tr>
         {% endif %}
         </tbody>
    </table>
{% endblock page_content %}