{% extends "template.html" %}

{% block title %}List of projects{% endblock title %}

{% block page_content %}
    <h1>Projects <a class="btn btn-primary" href="/list/create" role="button">Create new</a></h1>
    <p>An existing list of projects of the TaskCreator app</p>
    <table class="table table-bordered">
         <thead>
            <tr>
                <th scope="col">Id </th>
                <th scope="col">Project</th>
                <th scope="col">Main goal</th>
                <th scope="col">Due_date</th>
                <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody>
    {% if listList %}
            {% for list in listList %}
                 <tr>
                     <td>{{ list.key.id() }} </td>
                     <td>{{ list.project }} </td>
                 <td>{{ list.project_goal }}</td>
                 <td>{{ list.due_date }}</td>
                     <td> <a class="btn btn-primary" href="/list/{{list.key.id()}}" role="button">See details</a>
                     <a class="btn btn-danger" href="/lists" role="button">Delete</a>
                 </td>
                     </tr>
            {% endfor %}
    {% endif %}
         </tbody>
    </table>
{% endblock page_content %}